*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul,input{
    list-style: none;
}

body{
    width:1200px;
    margin:0 auto;
}
/*头部*/
header .head-logo{
    width:100%;
    height:68px;
    border-bottom: 1px solid #919191;
}
.head-logo img{
    margin-top:10px;
}
/*中间主体*/
article{
    width:100%;
    height:600px;
    margin: 30px 0 0 0;
}
/*注册标题*/
article .art-h1{
    margin: 0 100px 0 0;
    height:35px;
    width:415px;
    border-bottom: 2px solid #b81e20;
    color:#a2a2a2;
    float: right;
    line-height: 35px;
}
article .art-h1 span{
    font-size: 14px;
    float: right;
}
article .art-h1 span a{
    color: #b52024;
}

/*注册信息左边*/
article .art-left{
    width:465px;
    height:500px;
    float: left;
    margin:45px 0 0 130px;
}
.art-left img {
    width:465px;
}

/*注册信息*/
article .art-right{
    float: right;
    margin:20px 100px 0 0;
    width:415px;
   
}
.art-right ul{
    width:100%;
    float: left;
}
.art-right ul li{
    width:415px;
    height:45px;
    float: left;
    margin: 15px 0 0 0;
    position: relative;
}
.art-right ul li .inp1{
    height:45px;
    width: 100%;
    color: #cbcbcb;
    font-size: 14px;
    float: left;
    display: block;
    border :1px solid #cbcbcb;
    box-sizing: border-box;
    text-indent: 10px;
    z-index: 0;
}
.art-right ul li .msg{
    display: none;
    font-size: 6px;
    position: relative;
    color:#cbcbcb;
}
.art-right li .label1{
    width:260px;
    height:45px;
    float: left;
    display: block;
}
.art-right li img{
    width:143px;
    height:45px;
    margin-left: 10px;
    float: left;
    border:1px solid #cbcbcb;
}


.art-right li .get-code {
    color:#b52024;
    width:143px;
    height:45px;
    margin-left: 10px;
    float: left;
    border:1px solid #cbcbcb;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    background: #f5f5f5;
}

.art-right li .checkbox{
    float: left;
    margin-top:17px;
}

.art-right li .label2{
    font-size: 12px;
    float: left;
    margin-left: 5px;
    color:#9d9d9d;
    line-height: 45px;
}
.art-right li .label2 a{
    color:#b52024;
}
.submit{
    text-align: center;
    line-height: 45px;
    background: #9a9a9a;
    color:#fff;
}

/*底部*/
footer{
    width:100%;
    height:50px;
    bottom: 0;
    float: left;
}
footer p{
    height:30px;
    width:100%;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    color:#999999;
}